{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/react"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["react-hooks", "@typescript-eslint"],
  "rules": {
    // 方法必须写返回类型
    "@typescript-eslint/explicit-module-boundary-types": "off",
    // 禁止使用any
    "@typescript-eslint/no-explicit-any": "off",
    "indent": [
      "warn",
      2,
      {
        "SwitchCase": 1
      }
    ],
    // 非空判断
    "@typescript-eslint/no-non-null-assertion": "off",
    "semi": "error",
    // 禁止直接使用全局方法
    "no-restricted-globals": "off"
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "sessionStorage": true,
    "CookieStorage": true,
    "navigator": true,
    "location": true
  }
}
